<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
 .principal_menu{
  height: 100px;
  height: 50px;
  display: flex;
 }
 .menu{
  background-color: aqua;
  height: 100%;
  width: 100%;
  display: flex;
  padding-left: 20px;
 }
 .abrirChamado a{
  height: 40px;
  width: 40px;
  background-color: antiquewhite;
  
  
 }
 .verChamado a{
  height: 40px;
  width: 40px;
  background-color: antiquewhite;

 }
 .body_card{
  height: 500px;
  width: 500px;
 }
</style>

<div class="principal_menu">
  <div class="menu">
    <div class="abrirChamado">
      <a href="http://"> Abrir chamado</a>
     
    </div>
    <div class="verChamados">
      <a href="http://">Meus Chamados</a>
      
    </div>
</div>
</div>
<div class="body_card">
  <div class="motivochamados">
    <div class="labelDesc">
      <label for="">Motivo:</label>
    </div>
    <div class="descselect">
      <select name="" id="">
        <option value="">a</option>
        <option value="">b</option>
        <option value="">c</option>
        <option value="">d</option>
        <option value="">e</option>
      </select>
    </div> 
  </div>
  <div class="obschamado">
    <div class="tituloproblema">
      <label for="">Titulo chamado:</label>
    </div>
    <div class="tituloproblema">
      <input type="text" name="" id="">
    </div>    
  </div>
  <div class="textochamado">
    <div class="descProblema">
      <label for="">Descrição do problema:</label>
    </div>
    <div class="textProblema">
      <textarea name="textchamado" id="" cols="30" rows="10"></textarea>
    </div>
    
  </div>
  <div class="footer">
    desenvolvido por fabio
  </div>
</div>

